body {
    font-family: 'Roboto', sans-serif;
  }
  
  .navbar-toggler {
    border: none;
    background: none;
  }
  
  .navbar-toggler:focus {
    outline: none;
    box-shadow: none;
  }
  
  .carousel-indicators {
    /* width: 100%; */
    bottom: 10px;
  }
  
  .main-article>a {
    color: inherit;
    text-decoration: none;
  }
  
  a p {
    margin:0;
  }
  
  .main-heading {
    font-weight: 300;
    color: #656565;
  }
  
  article a .main-heading {
    letter-spacing: 0.35rem;
    text-transform: uppercase;
  }

  .main-type {
    font-size: 0.75rem;
    font-weight: 300;
    color: #CBCBCB;
  }
  
  .no-hover {
    color: inherit;
    text-decoration: none !important;
  }
  
  .main-article a img {
    opacity: 1;
    transition: 0.8s ease;
    backface-visibility: hidden;
  }
  
  .main-article a:hover img {
    opacity: 0.5;
  }
  
  .carousel-indicators li {
    width: 100%;
  }

  h6, th {
    color: rgb(100, 100, 100);
    font-weight: 400;
  }
  
  h3 {
    color: rgb(100, 100, 100);
    font-weight: 100;
    font-size: 1.2rem;
    letter-spacing: 0.5rem;
    text-transform: uppercase;
  }

  @media screen and (max-width: 600px) {
    h3 {
      font-size: 1.1rem;
    }
  }

  .btn-square {
    border-radius: 0;
  }
  
  .btn-outline-secondary {
    font-weight: 300;
  }
  .btn-outline-secondary:hover {
    background-color: #E6E6E6;
    color: black;
    border-color: #E6E6E6;
  }
  
  .img-contain {
    max-width: 95%;
    object-fit: contain;
  }
  
  .address-info {
    margin:0;
  }
  
  .email-info a {
    color: #CBCBCB;
    text-decoration: none;
  }
  
  .email-info a:hover {
    color: black;
    transition: 0.5s ease;
    text-decoration: none;
  }
  
  iframe {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
  }
  
  .form-control {
    font-weight: 300;
  }
  
  main img {
    max-width: 100%;
    height: auto;
  }
  
  table tr th, td {
    padding-left: 0 !important;
    margin-left: 0 !important;
    font-size: 0.75rem;
  }
  
  .container-fluid {
    margin: 0;
    padding: 0;
  }
  
  .fade-in-section {
    opacity: 0;
    transform: translateY(20vh);
    visibility: hidden;
    transition: opacity 0.6s ease-out, transform 1.2s ease-out;
    will-change: opacity, visibility;
  }
  .fade-in-section.is-visible {
    opacity: 1;
    transform: none;
    visibility: visible;
  }
  
  nav, .navbar {
    background-color: rgba(255, 255, 255, 0.0) !important;
  }

  td {
    font-weight: 100 !important;
  }


  .dev-black {
    color: black !important;
  }